.background{
    position: absolute;
    width: 100%;
    height: 87%;
    background-color: #c8d9ee;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2vw;
}
#forgot-password{
    position: absolute;
    font-size: 0.5em;
    font-weight: 800;
    color: rgb(93, 94, 127);
    left: 61%;
}

.form_label{
    font-size: 1vw;
    margin-right: 55%;
    font-weight: 800;
    color: rgb(93, 94, 127);
}

.my-form2{
    position: absolute;
    text-align: center;
    border-radius: 25px;
    top: 15%;
    left: 25%;
    width: 50%;
    background-color:white ;
    font-size: 1.2vw;
}

#login-text{
    font-size: 1.7vw;
    font-weight: 900;
    padding-top: 30px;
    padding-bottom: 10px;
    color: #062237;
}

#h3{
    font-weight:900 ;
}

.form_field{
 border: 0;
 border-bottom: 2px solid rgb(193, 193, 196);
 width: 65%;
 outline: 0;
 font-size: 1vw;
 padding: 7px 0;
 background: transparent;
 transition: border-color 0.2s;
}

#email-text{
    position: relative;
    font-size: 1vw;
    width: 73%;
    left: 12%;
}

#continue{
    background-color: #3a69cd;
    color: white;
    border: 0em;
    border-radius: 0.6vw;
    width: 30%;
    font-size: 1.5vw;
}