.background4 {
  width: 100%;
  height: auto;
  background-color: #c8d9ee;

  font-family: "Poppins", sans-serif;
  border: 1px solid #c8d9ee;
}
.table1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  text-align: center;
  top: 10%;

  width: 50%;
  font-size: 1.2vw;
  background-color: white;
  border-radius: 25px;
}
