.background {
  position: absolute;
  width: 100%;
  height: 87%;
  background-color: #c8d9ee;
  color: #3a69cd;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.heading1 {
  font-size: 4vw;
  margin-top: 50px;
  margin-bottom: 20px;
}
.heading2 {
  font-size: 3.5vw;
}

.button {
  color: #3a69cd;
  border-radius: 10px;
  border: none;
  background-color: whitesmoke;
  margin-top: 100px;
}
