.background{
    position: absolute;
    width: 100%;
    height: 87%;
    background-color: #c8d9ee;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2vw;
}
.form__label{
    font-size: 0.8em;
    margin-right: 50%;
    font-weight: 800;
    color: rgb(93, 94, 127);
}

.my-form1{
    position: absolute;
    text-align: center;
    border-radius: 25px;
    top: 10%;
    left: 37%;
    width: 25%;
    background-color:white ;
    font-size: 1.2vw;
}

#login-text{
    font-size: 1.5em;
    font-weight: 900;
    padding-top: 7%;
    padding-bottom: 2%;
    color: #021337;
}

/* #h3{
    font-weight:900 ;
} */

.form__field{
 border: 0;
 border-bottom: 2px solid rgb(193, 193, 196);
 width: 80%;
 outline: 0;
 font-size: 1.4vw;
 padding: 7px 0;
 background: transparent;
 transition: border-color 0.2s;
}

.login_button{
    margin-top: 1.8vw;
    margin-bottom: 2vw;
    background-color: #3a69cd;
    width: 30%;
    font-weight: 900;
    border: none;
    border-radius: 0.6vw;
    color: white;
    font-size: 1.25vw;
    height: 2.7vw;
    /* margin-left: 4vw; */
}
.button1{
    margin-left:4vw;
}

.continue{
    margin-top: 5%;
    font-size: 0.9vw;
    font-weight: 900;
    color: #021337;
}


@media only screen and (max-width: 1200px) {
    .my-form1{
        position: absolute;
        text-align: center;
        border-radius: 25px;
        top: 10%;
        left: 37%;
        width: 400px;
    }
  }